// Variables
// Colors
$primary-color: hsl(257, 40%, 49%);

// Typography
$heading-font: 'Poppins', sans-serif;
$body-font: 'Open Sans', sans-serif;

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  background: url('images/bg-mobile.svg') $primary-color top center no-repeat;
  background-position: top;
  background-size: cover;
  color: #fff;
  font-family: $body-font;
  font-size: 16px;
  margin: 0;
}

main {
  display: block;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: $heading-font;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.4;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
  max-width: 100%;
}

[hidden] {
  display: none;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

a.cta-button {
  background-color: #fff;
  border-radius: 2rem;
  color: $primary-color;
  display: inline-block;
  font-family: $heading-font;
  font-size: 1.2rem;
  padding: 20px 80px;
  text-decoration: none;
}